body {
	color:#333;
	font:300 15px/15px Roboto,Arial,Helvetica;
	background: #fff;
	-webkit-font-smoothing:antialiased;
}


a{color:#00a9c6; text-decoration:none;}
a:hover{color:#666;}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#0aaa76 ;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#f3c024;box-shadow: none;}

.topbar {background:url(../img/lines.png);	height:5px;position: fixed;top: 0;width: 100%;z-index: 1000;}
.navbar-nav > li > a{font-size: 1em;line-height: 3.6em;font-weight: 400;}
.navbar-fixed-top{
	top: 5px;
	background: #f1f1f1;
	border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background: none;color: #0aaa76 ;}

#head,.carousel{margin-top: 0;}

#home{padding-top: 6em;}

/*about*/
.about.spacer{padding-left: 4em; padding-right: 4em;padding-bottom: 0;}
.services ul li{width: 10em;height: 10em;border: 1px solid #ccc;padding: 0;border-radius: 50%;margin: 0 1.25em;line-height: 13.5em;color: #999;}
.services ul li span{line-height: 2em;display: inline-block;font-weight: 300;}
.services ul li span i{font-size: 3em;}
.services ul li span b{display: block;font-size: 1em;font-weight: 300;}


/*testimonials*/
.partners img{float: left;margin:0 75px 30px 0;}
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #f3c024;}
.carousel-indicators{bottom: 0;}

/*works*/
#works{padding-top:3em; z-index:0;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 1.5em;}
#works figcaption a:hover{text-decoration: none;padding: 0 2em;}
/*works*/

/*team*/
.team figure{width: 100%;}
.team img{width: 100%;}
.team b{font-size: 1.2em;display: block;}
.team a i.fa{color: #fff; font-size: 2em;}
.team a i.fa:hover{color: #0aaa76 ;}


.highlight-info{ background:url(../img/lab.jpg) center fixed; background-size: cover; color:#fff;}
.highlight-info .overlay{background: rgba(232,159,16,0.7);}
.highlight-info h4{color: #fff;margin:0.5em 0 0 0;}
/*about us*/










/*contact*/
.contactform textarea,.contactform input{width: 100%;padding:1em;border:1px solid #ccc;margin-bottom: 1em;border-radius: 0;outline: none;}
/*contact*/


.footer{background-color: #f1f1f1;  font-size: 1em;color: #666;}
.footer a{color: #444;margin: 0 1em; }

.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}


@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}
	.navbar-brand{padding-top: 11px;}
	.services ul li{margin:0 0.5em; }
	
	.grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

	.partners img{margin: 0 25px 25px 0;}
}

@media (max-width: 900px) {
	h1{font: 700 3.5em Roboto,Arial,Helvetica;}
	h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
	.btn{padding: 1em 2em;}
	.partners img{margin: 0 15px 25px 0;width: 157px;}
	.services ul li{width: 9em;height: 9em;}
	figure.effect-chico figcaption {padding: 2em;}	
	figure.effect-oscar figcaption {padding: 20%;}
	figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
	.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}	
}


@media (max-width: 767px) {
	body{font:300 12px/12px Roboto,Arial,Helvetica;}
	.navbar-nav > li > a {line-height: 1em;}	
	.navbar-brand{padding: 7px;}
	.navbar-brand img{height: 37px;}
	.navbar-toggle{margin-top: 12px;}

	.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

	h2.text-center{text-align: left;font-size: 1.7em;}
	h4 {font: 300 1.2em Roboto,Arial,Helvetica;}
	#partners h2{padding: 0 1em;} 
	#home {padding-top: 5em;}

	.partners{display: block;float: left;}
	.partners img{width: 120px;}



	.about.spacer{padding-left: 2em;padding-right: 2em;}
	.spacer{padding:2em 0 0 0;}
	.services ul li{margin-bottom: 1em;}

	.highlight-info .overlay{padding-bottom: 2em;}

	.grid.team div{margin: 0;padding: 0;}
	figure.effect-chico figcaption {padding: 1.5em;}
	.footer{margin-top: 2em;padding-bottom: 2em;}
}

.green {
	color: green;
}


.orange {
	color: orange;
}

.brown {
	color: #4d1414;
}

.grey {
	color: #555;
}

.red {
	color: #dd0000;
}

body.choice-page h2 {
	font-size: 55px;
	font-weight: 300;
}

body.choice-page .header {
	color: #bbb;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5vh;
    font-weight: 300;
    border-bottom: 1px solid #eee;
}


body.choice-page .analytics-choice,
body.choice-page .analytics-choice:focus {
	height: 50vh;
	padding: 20vh 0 15vh 50px;
	text-align: center;
	color: #888;
	display: block;
	text-decoration: none;
	outline: none;
}

body.choice-page .analytics-choice:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
	outline: none;
}

body.choice-page .analytics-choice:first-child {
	border-right: 1px solid #eee;
}

nav ul li {
	list-style: none;
	float: right;
	margin: 10px;
}

nav ul li a,
nav ul li a:focus {
	background: white;
	color: #aaa;
	border: 1px solid #ccc;
	padding: 10px 15px;
	border-radius: 3px;
	margin: 10px;
	text-decoration: none;
	display: block;
}

nav ul li a:hover,
nav ul li a:focus {
	background: white;
	color: black;
	border-color: black;
	text-decoration: none;
}

.analytics-page h4 {
	color: #aaa;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 100px;
	font-size: 20px;
	letter-spacing: 4px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.analytics-page h4 i:hover {
	color: black;
}

table.analytics-table,
table.analytics-table thead,
table.analytics-table tbody,
table.analytics-table tr {
	width: 100%;
	display: block;
	overflow-x: visible;
}

table.analytics-table {
	padding-bottom: 3em;
}

table.analytics-table thead {
	color: #666;
	border-bottom: 1px solid;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 15px;
}

table.analytics-table tbody tr {
	padding: 15px 0;
}
table.analytics-table tbody tr td {
	padding: 0 15px;
	font-size: 12px;
	font-weight: 400;
	color: #999;
}

table.analytics-table tbody tr td i.fa-check-circle {
	margin-right: 3px;
	color: #529fff;
}

table.analytics-table tbody tr td i.fa-times-circle {
	margin-right: 3px;
	color: #ff6c3b;
}

table.analytics-table th:nth-child(1),
table.analytics-table td:nth-child(1) {
	width: 45px;
}


table#brand-value-table th {
	text-align: center;
}

table#brand-value-table tbody tr {
	margin-bottom: 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eee;
}

table#brand-value-table th,
table#brand-value-table td {
	width: 155px;
	display: inline-block;
}

table#brand-value-table tbody tr td:nth-child(7),
table#brand-value-table tbody tr td:first-child {
	font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
	color: #847c75;
}

td .bullet {
	display: block;
}
.bullet {
	background: green;
	height: 10px;
	width: 10px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	display: inline-block;
}

 .bullet.manager-bullet {
	background: #e12b2f;
}

.bullet.simultaneous-bullet {
	background: rgba(43, 146, 225, 1)
}

.bullet.simultaneous-bullet::after {
	content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background: rgba(43, 146, 225, 0.44);
    border-radius: 50%;
    z-index: -1;
    left: -5px;
    top: -5px;

}

table.analytics-table th:nth-child(2),
table.analytics-table td:nth-child(2) {
	width: 90px;
}

table.analytics-table th:nth-child(3),
table.analytics-table td:nth-child(3) {
	width: 95px;
}

table.analytics-table th:nth-child(4),
table.analytics-table td:nth-child(4) {
	width: 165px;
}

table.analytics-table#detailed-results-part-1 th:nth-child(n+5),
table.analytics-table#detailed-results-part-1 td:nth-child(n+5) {
	width: 145px;
}

table.analytics-table#detailed-results-part-2 th:nth-child(n+5),
table.analytics-table#detailed-results-part-2 td:nth-child(n+5) {
	width: 160px;
}

table.analytics-table#detailed-results-part-3 th:nth-child(n+5),
table.analytics-table#detailed-results-part-3 td:nth-child(n+5) {
	width: 400px;
}

table.analytics-table#detailed-results-part-4 th:nth-child(n+5),
table.analytics-table#detailed-results-part-4 td:nth-child(n+5) {
	width: 160px;
}

table.analytics-table#detailed-results-part-5 th:nth-child(n+5),
table.analytics-table#detailed-results-part-5 td:nth-child(n+5) {
	width: 200px;
}

table td.positive {
	color: rgb(6, 170, 45) !important;
}

table td.semi-positive {
	color: rgba(78, 171, 71, 0.64) !important;
}

table td.neutral {
	color: rgba(124, 171, 228, 0.73) !important;
}

table td.negative {
	color: rgba(245, 82, 43, 0.92) !important;
}

table td.semi-negative {
	color: rgba(245, 156, 112, 0.75) !important;
}

table td.weight-bold {
	font-weight: 600 !important;
}


table.analytics-table thead th {
	padding: 10px 15px;
}

table.analytics-table  {

}

.chosen-container {
	width: 300px !important;
	letter-spacing: 1px;
	font-weight: 600;
	margin-top: -13px;
	background: white;
	margin-bottom: 15px;
	margin-right: 45px;
}

.chosen-container .chosen-single {
	background: white;
	padding: 5px 15px;
	background-image: none;
	height: 35px;
}

.hidden-type,
tr.hidden-type,
tr.hidden-campaign {
	display: none !important;
}

.analytics-page {
	padding-bottom: 6em;
}

body.analytics-page h4.collapsed > *:not(span),
body.analytics-page h4.collapsed ~ *,
body.analytics-page h4.collapsed + * {
	display: none;
}

label {
	cursor: pointer;
}

input[type="checkbox"] {
	margin-top: 0px;
	margin-left: 15px;
}

.opac {
	opacity: 0.45 !important;
}

.main-stat {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.main-stat > div:first-child {
	font-size: 20px;
	color: #bbb;
	padding: 15px;
}

.main-stat > div:first-child > div {
	font-weight: 600;
	color: #999;
	font-size: 18px;
	line-height: 20px;
}

.main-stat > div:nth-child(2) {
	font-size: 25px;
	padding: 15px;
	color: #666;
	text-align: center;
}

.main-stat.delimit {
	margin-bottom: 50px;
}

.main-stat.delimit  > div:first-child {
	padding-left: 0;
	padding-right: 0;
}

.margin-top-lg {
	margin-top: 3em;
}

.select-header {
	position: relative;
	top: -10px;
	margin-right: 5px;
	font-weight: bold;
	font-size: 13px;
    text-transform: none;
    letter-spacing: 0px;
    color: #333;
}

.likert-dict,
.likert-stats {
	margin: 0 15px 25px 15px;
}

.likert-dict > * {
	padding: 15px;
	font-size: 12px;
	color: #999;
	font-style: italic;
}

.likert-stats .title {
	font-weight: bold;
	color: #666;
	text-transform: uppercase;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.likert-stats > div:not(:first-child) {
	padding: 15px;
}

.likert-stats  span:first-of-type {
	font-weight: bold;
	color: #666;
	font-size: 13px;
}

.base-title {
	position: absolute;
    top: -10px;
    left: 40%;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 300;
}

.tab-content {
	margin-top: 100px;
}

#radar-chart-scale {
	position: absolute;
	left: 264px;
	top: 130px;
}

#radar-chart-scale > div {
	margin-bottom: 36px;
	font-size: 13px;
	color: #333;
	font-weight: 600;
}

#radar-chart-scale > div:nth-last-child(2) {
	margin-bottom: 30px;
}

.radar-chart text.legend {
	cursor: default;
}

table.kpi-table {
	border: 1px solid #eee;
	table-layout: fixed;
}

table.kpi-table tr {
	padding: 5px;
	border-bottom: 1px solid #eee;
}

table.kpi-table tr td {
	padding: 15px;
}

table.kpi-table tr td:first-of-type {
	font-weight: 600;
    font-size: 12px;
    color: #444;
	border-right: 1px solid #eee;
}

table.kpi-table .kpi-container {
	font-size: 16px !important;
	color: black !important;
	text-decoration: underline;
}

table.kpi-table tr td:last-of-type {
	line-height: 16px;
}

#section-title {
    font-weight: 600;
    color: #666;
    font-size: 16px;
	border: 1px solid #e5e5e5;
    padding: 15px 30px;
    margin: 20px;
    border-radius: 5px;
	letter-spacing: 2px;
}

.select-container {
	position: relative;
}

.select-container p {
	position: absolute;
	font-size: 11px;
	text-transform: none;
	letter-spacing: 0.5px;
	top: -69px;
	left: 130px;
	font-weight: normal;
	cursor: default;
}

span.kpi-subject-type {
	font-weight: 300 !important;
	font-size: 14px !important;
	color: #333 !important;
}

.btn.btn-psy {
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background: #ddd;
	color: #777;

	display: inline-block;
	width: auto;
	padding: 10px 15px;
}

.btn.btn-psy:hover {
	background: #ccc;
	color: #666;
}

.btn.btn-psy:active {
	background: #bbb;
}

.btn.btn-psy.btn-psy--green {
	background: #aece9e;
	color: #fafafa;
}

.btn.btn-psy.btn-psy--green:hover {
	background: #9eb98e;
}

.btn.btn-psy.btn-psy--green:active {
	background: #92ac86;
}