{% load app_filters %}

{% if dominant_answers %}
    
    <div class="col-xs-12 text-center" style="padding: 15px; border: 1px solid #ccc; margin: 50px 0;">
        <div class="col-xs-4">
            <span class="bullet" style="margin-right: 15px;"></span> User's Average Answer
        </div>
        <div class="col-xs-4">
            <span class="bullet manager-bullet" style="margin-right: 15px;"></span> Director's Perspective
        </div>
        <div class="col-xs-4">
            <span class="bullet simultaneous-bullet" style="margin-right: 15px;"></span> Answer is the same
        </div>
    </div>
    <table id="brand-value-table" class="analytics-table">
        <thead>
            <tr>
                <th></th>
                <th>Very</th>
                <th>Somewhat</th>
                <th>Neither / Nor</th>
                <th>Somewhat</th>
                <th>Very</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for dom_answer in dominant_answers %}
                <tr>
                    <td>{{ dom_answer.question|split_brand_value:"0" }}</td>
                    {% with manager_answer=last_manager_answers|getitem:forloop.counter0 %}
                        {% for x in '12345' %}
                                <td>
                                    {% if dom_answer.answer == forloop.counter and manager_answer != forloop.counter %}
                                        <div class="bullet"></div>
                                    {% elif dom_answer.answer != forloop.counter and manager_answer == forloop.counter %}
                                        <div class="bullet manager-bullet"></div>
                                    {% elif dom_answer.answer == forloop.counter and manager_answer == forloop.counter %}
                                        <div class="bullet simultaneous-bullet"></div>
                                    {% endif %}
                                </td>
                        {% endfor %}
                    {% endwith %}
                    <td>{{ dom_answer.question|split_brand_value:"1" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="kpi-table" id="kpi-table-4">
        <tbody>
            <tr>
                <td>PERFORMANCE INDICATOR</td>
                <td colspan="2">
                    AIDIMME _PI{% if subject_type|lower == 'employee' %}4{% else %}5{% endif %}. Brand value gap between management and

                    {{ subject_type|upper }}'s perception.
                </td>
            </tr>
            <tr>
                <td>CURRENT VALUE</td>
                <td colspan="2">
                    There is an agreement level of <span class="kpi-container">{{ kpi_4|floatformat:"2" }}%</span>
                    for brand value perception of the workspace amongst management and
                    {{ subject_type|lower }}s.
                </td>
            </tr>
            <tr>
                <td>DESIRED VALUE</td>
                <td colspan="2">
                   80% of agreement on brand value perception of the

                    workspace amongst management and {{ subject_type|lower }}s is

                    expected.
                </td>
            </tr>
            {% if kpi_4 > 80 %}
            <tr>
                <td>SUGGESTIONS</td>
                <td colspan="2">
                    Management and {{ subject_type|lower }}s have a similar perception of the

                    workspace brand value. Just check slight differences in the

                    Brand Value scale so they can be solved in the next office

                    renovation project.
                </td>
            </tr>
            {% elif kpi_4 >= 50%}
            <tr>
                <td>SUGGESTIONS</td>
                <td colspan="2">
                   Management perception of the workspace brand value is

                    not realistic according to {{ subject_type|lower }}s’ perceptions. It is

                    necessary to work on critical differences in the Brand Value

                    scale for the renovation of the workspace.
                </td>
            </tr>
            {% else %}
            <tr>
                <td>SUGGESTIONS</td>
                <td colspan="2">
                    Management perception of the workspace brand value is

                    rather different to {{ subject_type|lower }}s’ perceptions. Values of the

                    Brand Value scale should be checked in order to identify

                    main deviations before designing the renovation project.
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% else %}
    <h3 class="margin-top-lg">No answers found</h3>
{% endif %}