<table class="kpi-table" id="kpi-table-1" style="display: none">
    <tbody>
        <tr>
            <td>PERFORMANCE INDICATOR</td>
            <td colspan="2">
                AIDIMME_PI1<span class="kpi-subtitle"></span>. <span class="kpi-subject-type" style="text-transform: capitalize;">{{ subject_type|capfirst }}</span>' well-being at workplace regarding

                ambient parameters and furniture.
            </td>
        </tr>
        <tr>
            <td>CURRENT VALUE</td>
            <td colspan="2">
                The results showed an acceptance level of <span class="kpi-container"></span> for

                <span class="kpi-subject-type">{{ subject_type|lower }}s</span> feeling that ambient parameters and office

                furniture are suitable for working.
            </td>
        </tr>
        <tr>
            <td>DESIRED VALUE</td>
            <td colspan="2">
                More than 80% of acceptance level is expected.
            </td>
        </tr>
        <tr class="suggestions suggestions-above-80">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                Most of <span class="kpi-subject-type">{{ subject_type|lower }}s</span> feel that working conditions and office

                furniture are suitable for the workspace. Just check

                potential slight improvement for individual features of the

                workspace (i.e. humidity, temperature, chairs, etc.).
            </td>
        </tr>
        <tr class="suggestions suggestions-between-50-80">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                There are some troubles with the working conditions and

                office furniture of the workspace. Check main improvable

                features (i.e. humidity, temperature, chairs, etc.) so they

                can be solved in the next office renovation project.
            </td>
        </tr>
        <tr class="suggestions suggestions-below-50">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                Most <span class="kpi-subject-type">{{ subject_type|lower }}s</span> are not comfortable with the working

                conditions and office furniture the workspace. Check

                disappointing features (i.e. humidity, temperature, chairs,

                etc.) so they can be solved in the next office renovation

                project.
            </td>
        </tr>
    </tbody>
</table>

<table class="kpi-table" id="kpi-table-2" style="display: none">
    <tbody>
        <tr>
            <td>PERFORMANCE INDICATOR</td>
            <td colspan="2">
                AIDIMME_PI2<span class="kpi-subtitle"></span>. Emotional perception of the <span class="kpi-subject-type">{{ subject_type|lower }}s</span>

                about the office space.
            </td>
        </tr>
        <tr>
            <td>CURRENT VALUE</td>
            <td colspan="2">
                The results showed a satisfaction level of <span class="kpi-container"></span>

                for <span class="kpi-subject-type">{{ subject_type|lower }}s</span> feeling emotionally satisfied with the

                workspace.
            </td>
        </tr>
        <tr>
            <td>DESIRED VALUE</td>
            <td colspan="2">
                More than 80% of satisfaction level is expected.
            </td>
        </tr>
        <tr class="suggestions suggestions-above-80">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                Most of <span class="kpi-subject-type">{{ subject_type|lower }}s</span> feel satisfied with the workspace. Just

                check slight potential improvement for the next office

                    renovation project.
            </td>
        </tr>
        <tr class="suggestions suggestions-between-50-80">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                There is some dissatisfaction with the workspace among

                <span class="kpi-subject-type">{{ subject_type|lower }}s</span>. Check main improvable annoyances so they

                can be solved in the next office renovation project.
            </td>
        </tr>
        <tr class="suggestions suggestions-below-50">
            <td>SUGGESTIONS</td>
            <td colspan="2">
                Most <span class="kpi-subject-type">{{ subject_type|lower }}s</span> feel dissatisfied with the workspace.

                Check main causes so they can be solved in the next office

                renovation project.
            </td>
        </tr>
    </tbody>
</table>